<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Espaco Academico</title>
    <link rel="stylesheet" href="/css/edit.css" />
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
</head>
    <body>
        <h1>Seu cadastro</h1>
        <span>Nome: </span><span th:text="${student.firstName}"></span>
        <span>Sobrenome: </span><span th:text="${student.lastName}"></span>
        <span>Email: </span><span th:text="${student.email}"></span>
    </body>
</html>
