<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Espaco Academico</title>
        <link rel="stylesheet" href="/css/edit.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="icon" type="image/x-icon" href="/images/icon.png">
    </head>
<body>
    <h1>Universidade do Vinicius</h1>
    <div class="ytContainer">
        <iframe width="1211" height="681" th:src="@{https://www.youtube.com/embed/_86tHnzxF3Q(autoplay=1, mute=1)}" title="Universidade do Vinicius" allow="accelerometer; encrypted-media" th:controls="0"></iframe>
    </div>
    <div class="interactionContainer">
        <a href="#"><button>Sou Professor</button></a>
        <a href="/login-student"><button>Sou Aluno</button></a>
        <a href="/signup"><button>Criar conta</button></a>
    </div>
</body>
</html>
