<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="stylesheet" href="/css/edit.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="icon" type="image/x-icon" href="/images/icon.png">
  <style>
    .passwordInput{
      margin-bottom: 10px;
    }
  </style>
  <title>Espaco academico</title>
</head>
<body>
<div class="login-container">
  <h1>Login</h1>
  <form>
    <label for="username">Nome de usuario:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" class="passwordInput" required>

    <button type="submit">Login</button>
  </form>
</div>
</body>
</html>
